* {
  margin: 0px;
  padding: 0px;
}

.employee-team {
  /* position: absolute; */
  width: 1440px;
  height: 1350px;
  left: 0px;
  top: 3700px;
  background: #FFFFFF;
}

.our-team {

  padding-top: 5px;
  gap: 10px;
  width: 88px;
  height: 25px;
  left: 667.5px;
  top: 120px;
  /* font-family: 'Apercu'; */
  font-style: normal;
  font-weight: regular;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #F63A61;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 47%;
  margin-top: -40px;
  background: rgba(246, 58, 97, 0.1);
  border-radius: 60px;
}

.employee-team h1 {
  /* position: absolute; */
  width: 575px;
  height: 60px;
  left: 442px;
  top: 165px;
  /* font-family: 'Apercu'; */
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  color: #0F0049;
  margin-left: 33%;
  margin-top: 20px;
}

.employee-team p {
  width: 553px;
  height: 38px;
  left: calc(50% - 553px/2 + 0.5px);
  top: 245px;
  /* font-family: 'Apercu'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0F0049;
  opacity: 0.5;
  margin-left: 34%;
  margin-top: 15px;
}

.team-member {
  display: inline-block;
  width: 280px;
  height: 280px;
  /* left: 130px; */
  top: 343px;
  margin-left: 30px;
  padding-left: 125px;
  border-radius: 10px;
  margin-top: 35px;
}

.team-member h3 {
  width: 156px;
  height: 22px;
  left: 192px;
  top: 653px;
  /* font-family: 'Apercu'; */
  font-style: normal;
  font-weight: medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #0F0049;
  margin-left: 55px;
  margin-bottom: -15px;
  margin-top: 15px;
}

.team-member p {
  width: 164px;
  height: 19px;
  left: 188px;
  top: 680px;
  /* font-family: 'Apercu'; */
  font-style: normal;
  font-weight: regular;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0F0049;
  margin-right: 200px;
}

.employee-team-join {
  display: inline-block;
  width: 1180px;
  height: 217px;
  left: 130px;
  margin-top: 80px;
  background-color: #F6F5F8;
  margin-left: 170px;
  border-radius: 12px;
  border: 2px solid #EAEAEA;
}

.employee-team-join h2 {
  display: inline-block;
  width: 182px;
  height: 34px;
  left: 100px;
  /* top: 60px; */
  /* font-family: 'Apercu'; */
  font-style: normal;
  font-weight: medium;
  font-size: 28px;
  line-height: 34px;
  color: #0F0049;
  margin-top: 55px;
  margin-left: 10%;
}

.employee-team-join p {
  width: 670px;
  height: 57px;
  /* margin-left: 510px; */
  margin-top: -30px;
  /* font-family: 'Apercu'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #0F0049;
  opacity: 0.5;
  text-align: left;
}

/* Frame 42 */
.employee-team-join h6 {
  /* position: relative; */
  width: 183px;
  height: 20px;
  margin-left: 400px;
  top: 0px;
  /* font-family: 'Apercu'; */
  font-style: normal;
  font-weight: medium;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #F63A61;
  margin-top: 20px;
}

/* Icon */
.employee-team-join img {
  /* position: absolute; */
  left: 93.92%;
  right: 0%;
  top: 36.68%;
  bottom: 13.45%;
  margin-left: 2px;
  background: #F63A61;
}
