<footer>
  <div class="container">
    <div class="footer-company">
      <h3>Company</h3>
      
        <a href="#">About</a>
        <a href="#">Pricing</a>
        <a href="#">Jobs</a>
        <a href="#">Blog</a>
        <a href="#">Careers</a>
    </div>

    <div class="footer-product">
      <h3>Product</h3>

      <a href="#">Sales software</a>
        <a href="#">Features</a>
        <a href="#">Privacy and security</a>
        <a href="#">Marketplace</a>
        <a href="#">API</a>
      
    </div>

    <div class="footer-help">
      <h3>HelpCenter</h3>
    
        <a href="#">Community</a>
        <a href="#">Knowledge Base</a>
        <a href="#">Academy</a>
        <a href="#">Support</a>
      
    </div>

    <div class="footer-download">
      <div class="footer-link">
        <h3>Download</h3>
        <p>Join millions of people who build a fully integrated sales and marketing solution.</p>
      </div>
    </div>
  </div>
  
  <div class="divider">
  <img src="\assets\Divider.jpg">
  </div>

  <div class="bottom-footer">
    <!-- <div class="container"> -->
    <p>Copyright @2023 Aspire. All Rights Reserved.</p>
    <p>Terms & Conditions ~ Privacy Policy</p>
    <!-- </div> -->
  </div>

</footer>
